Package: my-services
Version: 0.1.92
Section: misc
Priority: extra
Architecture: all
Maintainer: Jakobus Schürz <xundeenergie@gmail.com>
Homepage: http://github.com/xundeenergie/my-services
Provides: my-services
Depends: ipset, youtube-dl, systemd, curl, wget, network-manager-customsettings, rkhunter, screen
Recommends: hplip, hplip-gui, zeitgeist-datahub, bogofilter, spamassassin, minidlna, minissdpd
Description: My services
 Special configurations for this and that around in linux, for jakob schürz
