Package: my-services
Version: 0.1.111
Section: misc
Priority: extra
Architecture: all
Maintainer: Jakobus Schürz <jakob@schuerz.at>
Homepage: http://github.com/xundeenergie/my-services
Provides: my-services
Depends: systemd, curl, wget, network-manager-customsettings, screen, deb-systemd-helper-new
Recommends: ipset, hplip, hplip-gui, zeitgeist-datahub, bogofilter, spamassassin, rkhunter, minidlna, minissdpd
Suggests: gdm3, youtube-dl
Description: My services
 Special configurations for this and that around in linux, for jakob schürz
