[Unit]
Description=Daily apt activities
Documentation=man:apt(8)
ConditionACPower=true

[Service]
Type=oneshot
ExecStartPre=/usr/bin/nm-updatecheck.py -G -c
ExecStart=/usr/lib/apt/apt.systemd.daily

[Install]
WantedBy=timer-daily.target

