[Unit]
Description=Dropbox-target
After=network-online.target
PartOf=network-online.target
StopWhenUnneeded=yes

[Install]
#WantedBy=network-online.target
WantedBy=timer-online.target
#WantedBy=multi-user.target
