[Unit]
Description=Mediaserver minidlna: %i
ConditionPathExists=/etc/minidlna.d/%i.conf
PartOf=minidlna.target
ReloadPropagatedFrom=minidlna.target

[Service]
User=minidlna
Group=minidlna
RuntimeDirectory=minidlna-%i
ExecStart=/usr/sbin/minidlnad -S -f /etc/minidlna.d/%i.conf -P %t/minidlna-%i/minidlna-%i.pid
Restart=always
KillMode=mixed

[Install]
WantedBy=minidlna.target
DefaultInstance=%H
