[Unit]
Description=minidlna DLNA-Servers
PartOf=network-online.target

#StopWhenUnneeded=yes

[Install]
#WantedBy=network-online.target
WantedBy=timer-online.target

