[Unit]
Description=Virtualbox for user %i
Requires=virtualbox-load-modules.service
After=virtualbox-load-modules.service
BindsTo=virtualbox.target

[Service]
RemainAfterExit=true
Type=oneshot

Environment=SHUTDOWN=poweroff TIMEOUT=10
#Environment=SHUTDOWN=acpibutton TIMEOUT=30
#Environment=SHUTDOWN=savestate TIMEOUT=30

ExecStart=/bin/true
ExecStop=/usr/lib/systemd/scripts/stop_vms %i $SHUTDOWN $TIMEOUT

[Install]
WantedBy=virtualbox.target
