[Unit]
Description=Virtualbox for user %i
Requires=virtualbox-load-modules.service
After=virtualbox-load-modules.service
BindsTo=virtualbox.target

[Service]
RemainAfterExit=true
Type=oneshot

Environment=SHUTDOWN=poweroff
#Environment=SHUTDOWN=acpibutton
#Environment=SHUTDOWN=savestate

ExecStart=/bin/true
ExecStop=/usr/lib/systemd/scripts/stop_vms %i $SHUTDOWN

[Install]
WantedBy=virtualbox.target
